---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
    background-color: #222;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.site-title {
    display: block;
    padding-top: 40px;
    margin-bottom: 0;
    color: #222;
    font-weight: 800;
    font-size: 32px;
}

@import "home";
@import "shows";

