---
# Main styles 
---
@charset "utf-8";

$bg-color: #222;
$fg-color: #fff;
$main-width: 100%;
$medium-width: 600px;
$large-width: 1000px;

@import "normalize";
@import "mixins";

* {
    box-sizing: border-box;
}

html {
    background-color: $bg-color;
    color: $fg-color;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: $main-width;

    @include respond-to(medium) {
        width: $medium-width;
        margin: 0 auto;
    }

    @include respond-to(large) {
        width: $large-width;
        padding: 0 20px;
    }

}

a {
    color: $fg-color;
    font-weight: 800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-header {
    width: 100%;
    background-color: $fg-color;
    padding: 20px;
}

.site-title {
    display: block;
    padding-top: 40px;
    margin-bottom: 0;
    color: #222;
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
}

main {
    overflow: hidden;
    zoom: 1;

    .content {
        padding: 15px;

        @include respond-to(medium) {
            padding: 0;
            padding-right: 15px;

            float: left;
            width: 60%;
        }

        @include respond-to(large) {
            width: 40%;
        }

    }

    .sidebar {
        padding: 0 15px;
        font-size: 0.95em;

        .description {
            font-weight: 800;
        }

        @include respond-to(medium) {
            padding: 0;
            padding-top: 5px;
            float: right;
            width: 40%;
        }

        @include respond-to(large) {
            width: 60%;
        }


    }

}

.site-footer {
    padding: 15px;

    @include respond-to(medium) {
        padding: 15px 0;
    }
}

@import "home";
@import "shows";

