<header class="main-header">
    <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
    <canvas id="stripes" width="3000px" height="200px"></canvas>

    <script>
        var stripesCanvas = document.getElementById('stripes');
        var stripes = stripesCanvas.getContext('2d');
        var h = stripesCanvas.offsetHeight;

        var i = 0;
        var r, g, b;

        while(i < 3000) {
            i = i + parseInt(Math.random() * 4 + 1); 

            r = parseInt(Math.floor(Math.random() * 255));
            g = parseInt(Math.floor(Math.random() * 255));
            b = parseInt(Math.floor(Math.random() * 255));

            stripes.beginPath();
            stripes.strokeStyle = 'rgba('+r+','+r+','+r+',' + Math.random() * 0.9 + ')';
            stripes.moveTo(i, 0);
            stripes.lineTo(i, 200);
            stripes.stroke();
        }

        $.get('https://api.nasa.gov/planetary/apod?concept_tags=True&api_key=DEMO_KEY', function(data) {
            var url = data.url;

            $('html').css({
                'background-image': 'url('+url+')'
            });
        });
    </script>

</header>
