.show-title {
    line-height: 1;
}

.artist {
    position: relative;
    background-color: rgba(255,255,255,0.8);
    padding: 0.5em 1em;

    h2 {
        position: absolute;
        top: 320px;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0.5em 1em;
        background-color: rgba(0,0,0,0.4);
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 420px;
    }
}
