<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

        <div class="content">
            {{ content }}
        </div>

        <div class="sidebar">
            <p class="description">{{ site.description }}</p>

            <p><strong>Open call:</strong> We're looking for digital and analog instrument builders, improvisers, experimentalists, and folks whose 
            music is designed for listening.</p>

           <p>Please submit links via email to examples of your music along with a brief technical explanation of your approach to live performance.</p>

           <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
    </main>

    {% include footer.html %}

  </body>

</html>
